
    .nav-wrapper {
        background-color: #ad0303;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    nav a {
        font-family: "Roboto", sans-serif;
        color: white;
        text-decoration: none;
    }

    
    nav a:hover {
        color: #ffd6d6;
    }

    .brand-logo{
        font-size: 40px;
        padding-left: 10px;
    }

    ul{
      position: relative;
      display:inline-flex; /*keeps it from stacking*/
      padding: 5px;
      margin: 20px;
    }

    li{
        padding: 10px;
        margin: 0px;
        list-style-type: none;
    }
    
    .box{
        width: 300px;
        height: 200px;
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
    }
    .boxLayout{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 300px auto 100px;
       column-gap: 50px;
       row-gap: 30px;
    }

    .centerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         height: 100vh;
         padding-top: 50px;
    }
    .motivational{
        font-family: "Roboto", sans-serif;
    }



    @media (max-width: 600px){
        .boxLayout{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            column-gap:0;
            row-gap: 20px;
            position: relative;
            transform: none;
            left: unset;
            top: unset;
            padding-left: 200px;
        }
    }

