
    .nav-wrapper {
        background-color: #ad0303;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    nav a {
        font-family: "Roboto", sans-serif;
        color: white;
        text-decoration: none;
    }

    
    nav a:hover {
        color: #ffd6d6;
    }

    .brand-logo{
        font-size: 40px;
        padding-left: 10px;
    }

    ul{
      position: relative;
      display:inline-flex; /*keeps it from stacking*/
      padding: 5px;
      margin: 20px;
    }

    li{
        padding: 10px;
        margin: 0px;
        list-style-type: none;
    }
    